LUMOSKB_PROJECT=lumoskb
LUMOSKB_IMAGE=ghcr.io/zhang1003533565/lumoskb:latest
LUMOSKB_PORT=8080

POSTGRES_DB=lumoskb
POSTGRES_USER=lumoskb
POSTGRES_PASSWORD=change-me-postgres
POSTGRES_MAX_CONNECTIONS=1000

REDIS_PASSWORD=change-me-redis

MAXKB_CONFIG=ENV
MAXKB_CONFIG_TYPE=ENV
MAXKB_VERSION=lumoskb-server
MAXKB_DEBUG=false
MAXKB_LOG_LEVEL=INFO
MAXKB_KNOWLEDGE_ONLY=true
MAXKB_SECRET_KEY=change-me-django-secret
MAXKB_DEFAULT_PASSWORD=LumosKB@123..
MAXKB_CORE_WORKER=2
MAXKB_DB_MAX_OVERFLOW=80
MAXKB_REDIS_DB=0
MAXKB_REDIS_MAX_CONNECTIONS=100
